[Pinyin Enhance]
# 병음 약어를 영어로 취급
# 가능한 값:
# True False
#ShortAsEnglish=False
# 첫 후보 교체 허용
# 가능한 값:
# True False
#AllowReplaceFirst=True
# 철자 힌트 보이지 않기
# 가능한 값:
# True False
#DisableSpell=False
# 최고 힌트 길이
#MaximumHintLength=1
# 상용구 입력키
#InputCharFromPhraseString=[]
# 상용구 입력모드 해제
#InputCharFromPhraseKey=
# 병음 기호 비활성화
# 가능한 값:
# True False
#DisableSym=False
# 필획 입력 문자 수
#StrokeThresh=2
# 필획 입력 가능한 최대 길이
#StrokeLimit=3

